extends layout

block content
  .container.homePageLandingText
    h1 Find a Meet Up
    p.lead You can join any events nearby you by just clicking several buttons.
    p.lead Talk and Share your story to new friends right now!
    p.lead
      button.btn.btn-primary Join us!
  hr
  .row
    .col-sm-6
      h2 Share your events
      p.lead Create your own events and Notice people nearby you
      p
        a.btn.btn-default(href='#', role='button') Details »
    .col-sm-6
      h2 Find others events
      p.lead Search and Join the events that host by others nearby you
      p
        a.btn.btn-default(href='#', role='button') Details »